body, html {
    margin: 0;
  } 
  
  :root {
    --spinner: #f3f3f3;
    --spinner-active: purple;
  }


  .container{
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e5959;

  }

  .loader {
    height: 50px;
    width: 50px;
    border: 5px solid var(--spinner);
    border-top: 5px solid var(--spinner-active);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  /*.loadertwo {
    height: 50px;
    width: 50px;
    border: 5px solid var(--spinner);
    border-top: 5px solid var(--spinner-active);
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  .loadertree {
    height: 50px;
    width: 50px;
    border: 5px solid var(--spinner);
    border-top: 5px solid var(--spinner-active);
    border-radius: 50%;
    animation: spin 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  }*/

  @keyframes spin {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);

    }
  }

